@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root{
  --clr-bg:#23272C;
  --clr-text:#DBFBF1;
  --clr-dark:#1E755A;
  --clr-light:#b6ffe9;
  --clr-text-grey:#DBDBDB;
}

/*                                       generals                                     */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.font-webexpo{
  font-family: "Unbounded", sans-serif !important;
}

*,html{
  scroll-behavior: smooth !important;
}
body{
  font-family: "Montserrat", sans-serif;
  background-color: var(--clr-bg);
  overflow-x: hidden;
  color: white;
  line-height: 1.4;
}
img {
  max-width: 100%;
  display: block;
}
h1{
  font-size: clamp(1.8rem , 5vw + 1rem , 2.5rem);
  color: white;
}
.container {
  width: 85%;
  max-width: 1240px;
  margin: 0 auto;
}
.shape1{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
  pointer-events: none;
}
.shape2{
  position: absolute;
  bottom: -20%;
  z-index: -100;
  pointer-events: none;
}
.highlighted{
  color: var(--clr-light);
}
.btn{
  color: var(--clr-dark);
  background-color: var(--clr-light);
  font-weight: 500;
  padding-block: 1em;
  padding-inline: 3em;
  border: 2px solid var(--clr-dark);
  box-shadow: -2px 2px 0px var(--clr-dark);
  transition: all 200ms ease-in;
  font-size: .9rem;
}
.btn-secondary{
  background-color: transparent;
}
.btn:hover{
  box-shadow: -5px 5px 0px var(--clr-dark);
}
.btn-contact{
  display: inline-block;
  padding-inline: 1.5em;
  padding-block: .5em;
  border: 2px solid var(--clr-light);
  background-color: var(--clr-bg);
  transition: 300ms all ease;
}
.btn-contact:hover{
  transform: translate(8px , -6px);
}
/*                                   utilities                                     */

.clr-text{
  color: var(--clr-text);
}
.p-events-non{
  pointer-events: none;
}
.p-relative{
  position: relative;
}
/*                                   header                                       */

.nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding-block: 1.3em;
  transition: all 500ms ease;
}
.nav-active{
  position: fixed;
  top: 0;
  width: 100%;
  padding-block: 1.5em;
  background-color: var(--clr-light);
  box-shadow: 2px 2px 2px var(--clr-light);
  transition: all 500ms ease;
  z-index: 1000;
}
.nav-active nav a{
  color: var(--clr-dark);
}
.nav-active .btn-contact{
  color: var(--clr-text);
  border: 2px solid var(--clr-dark);
}
.nav-active .drop-down-link img{
  filter: invert(32%) sepia(99%) saturate(330%) hue-rotate(110deg) brightness(80%) contrast(70%);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: var(--clr-text);
  font-weight: 600;
  font-size: .8rem;
}
.drop-down-link{
  position: relative;
  display: flex;
  align-items: center;
  gap: .5em;
  transition: 300ms all ease;
}
.drop-down-link:hover {
  background-color: var(--clr-dark);
  padding-block: .7em;
  padding-inline: 1.3em;
  border: 2px solid var(--clr-light);
}
.drop-down-link:hover img{
  filter: none;
}
.drop-down-link:hover a{
  color: var(--clr-text);
}
.drop-down-link img{
  width: 15px;
}
.drop-down{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.drop-down ul li a{
  display: block;
  position: relative;
  width: 100%;
  background-color: var(--clr-dark);
  padding-block: .7em;
  padding-inline: 1.3em;
  border-bottom: 1px solid var(--clr-light);
  outline: 2px solid var(--clr-light);
  z-index: 100;
  transition: 300ms all ease;
}
.drop-down ul li a:hover{
  transform: translateX(12px);
}
.drop-down ul li:hover .layer:nth-child(2){
  opacity: .7;
  transform: translateX(6px);
}
.drop-down ul li:hover .layer:nth-child(3){
  opacity: .4;
  transform: translateX(2px);
}
.drop-down ul li:hover .layer:nth-child(4){
  opacity: .2;
  transform: translateX(-2px);
}
.drop-down ul li:nth-child(3){
  border: none;
}
.drop-down ul li:nth-child(1){
  transform: translateY(-20px);
  opacity: 0;
  transition: 300ms all ease;
}
.drop-down ul li:nth-child(2){
  transform: translateY(-60px);
  opacity: 0;
  transition: 300ms all ease 100ms;
}
.drop-down ul li:nth-child(3){
  transform: translateY(-80px);
  opacity: 0;
  transition: 300ms all ease 200ms;
}
.drop-down-link:hover .drop-down{
  pointer-events: all;
}
.drop-down-link:hover .drop-down ul li:nth-child(1){
  transform: translateY(0px);
  opacity: 1;
}
.drop-down-link:hover .drop-down ul li:nth-child(2){
  transform: translateY(0px);
  opacity: 1;
}
.drop-down-link:hover .drop-down ul li:nth-child(3){
  transform: translateY(0px);
  opacity: 1;
}
.nav_list{
  display: flex;
  align-items: center;
  gap: 2.5em;
  margin-left: 8%;
}
.logo{
  width: 55px;
}
.layer{
  background-color: var(--clr-light);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1111;
  transition: 300ms all ease;
}
.holder:hover .layer:nth-child(2){
  opacity: .7;
  transform: translate(6px,-4px);
}
.holder:hover .layer:nth-child(3){
  opacity: .5;
  transform: translate(3px,-2px);
}
.holder:hover .layer:nth-child(4){
  opacity: .3;
}
.nav-active .layer{
  background-color: var(--clr-dark);
}
/*                                        main                            */
main{
  margin-top: 8em;
}
.qualities{
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 3em;
}
.qualities p{
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
  letter-spacing: 5px;
}
.main-text{
  margin: 0 auto;
  text-align: center;
  width: 75%
}
.main-content{
  margin-top: 3em;
  position: relative;
}
.subtitle{
  color: var(--clr-text-grey);
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: .3em;
}
.main-cta{
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.main-scroll{
  margin: 0 auto;
  margin-top: 3em;
  position: relative;
  width: max-content;
}
.scroll-text{
  position: absolute;
  top: 23%;
  right: -440%;
  width: 0%;
  opacity: 0;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  transform-origin: left;
  transition: 500ms all ease-in-out;
}
.main-scroll:hover .scroll-text{
  width: max-content;
  opacity: 1;
}
.scroll-btn{
  display: block;
  background-color: var(--clr-light);
  padding: .7em;
  border-radius: 50px;
}
.scroll-btn img{
  width: 20px;
  height: 20px;
}
.main-socials{
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  gap: 1.5em;
}
.socials{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.social{
  background-color: var(--clr-light);
  padding: .5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social img{
  width: 35px;
}

/*                               page loading                         */

.page-loading{
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-bg);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
}